services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8000:8000"
    volumes:
      - .:/app  # Map the entire current directory to enable Hot Reload for all files
    command: >
      sh -c "python manage.py migrate &&
             python manage.py setup_sample_data &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - DATABASE_URL=postgres://postgres:supersecretpassword@db:5432/app_db
      - DJANGO_DEBUG=1
      - DJANGO_SECRET_KEY=dev_secret_key
      - DJANGO_ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost
    depends_on:
      db:
        condition: service_healthy

  celery_worker:
    build:
      context: .
      args:
        - DEV=true
    command: celery -A app worker --loglevel=info
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgres://postgres:supersecretpassword@db:5432/app_db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - DJANGO_DEBUG=1
      - DJANGO_SECRET_KEY=dev_secret_key
    depends_on:
      - app
      - redis

  celery_beat:
    build:
      context: .
      args:
        - DEV=true
    command: celery -A app beat --loglevel=info
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgres://postgres:supersecretpassword@db:5432/app_db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - DJANGO_DEBUG=1
      - DJANGO_SECRET_KEY=dev_secret_key
    depends_on:
      - app
      - redis

  db:
    image: postgres:17-alpine
    restart: always
    environment:
      - POSTGRES_DB=app_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecretpassword
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  celery_flower:
    build:
      context: .
      args:
        - DEV=true
    command: celery -A app flower --port=5555
    ports:
      - "5555:5555"
    volumes:
      - .:/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
      - celery_worker

  redis:
    image: "redis:7-alpine"
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
